.square{
    width : 100px;
    height : 100px;
    border : 2px solid black;
    padding : 20px;
    background-color: white;
    display : inline-block;
    margin : 20px;
}

.btn{
    width : 150px;
    padding : 20px;
    border : 2px solid blue;
}

.nav{
    float : right;
}

.nav p{
    text-decoration: underline;
    margin : 0px 5px;
    display: inline;
    cursor : pointer;
}

#newSquareBtn{
    border : none;
    font-size : 15px;
    padding : 5px 7px;
}
