/*body {
  -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
/*  zoom: 0.8; /* Other non-webkit browsers */
/*  zoom: 80%; /* Webkit browsers */
/*} */

*{
    font-style: helvetica;
}

.squareContainer {
  position : absolute;
  -moz-transform: scale(1.0, 1.0);
  transform: scale(1.0, 1.0);
  -webkit-transform-origin : 0 0;
  -moz-transform-origin : 0 0;
  /*transition : all 2s;
  -moz-transition: all 2s;*/
}

.square{
    width : 100px;
    min-height : 100px;
    height : auto;
    border : 2px solid black;
    background-color: white;
    position : absolute;
    display : inline-flex;
    align-content: space-between;
    flex-flow: column wrap;
    padding : 10px;
    transform-origin : 0 0;
    -webkit-transform-origin : 0 0;
    -moz-transform-origin : 0 0;
}

.squarePrototype{
    display : none;
    width : 100px;
    height : 100px;
    border : 2px solid black;
    padding : 20px;
    background-color: white;
}

.btn{
    width : 150px;
    padding : 20px;
    border : 2px solid blue;
}

.nav{
  position : fixed;
  z-index : 1000000;
  width : 95%;
}

.nav-right{
    float : right;
}

.nav-right p{
    text-decoration: underline;
    margin : 0px 5px;
    display: inline;
    cursor : pointer;
}

.nav-left{
  float : left;
}

#roomInput{
  font-size : 16px;
}

.roomInputBtn{
  display : inline-block;
  background-color : #E8E6E6;
  padding : 5px;
  border-radius : 6px;
  margin-left: 5px;
}

#newSquareBtn{
    border : none;
    font-size : 15px;
    padding : 5px 7px;
}

.color{
  width : 80%;
  margin-left: auto;
  margin-right: auto;
  align-self: flex-end;
}

.squareText{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width : 90%;
  height : auto;
}

.squareTextEdit{
  text-align: center;
  font-size: 14px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  margin-left: auto;
  margin-right : auto;
  width : 90%;
  height : auto;
}

.hintsContainer{
    padding : 20px;
    position : fixed;
    bottom : 0;
    left : 0;
    pointer-events: none;
}

#hintHeader{
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
}
