extends layout
block head
    link(rel='stylesheet' , href='index.css')
    script(src='index.js')
block body
    .squareContainer
        .square
            p#squareText This is my first square. Isn't it neat??
        .square
            p#squareText This is my second square. Isn't it neat??
    .btn Click
            
