extends layout
block head
    base(href='/') 
    link(rel='stylesheet', type='text/css', href='index.css')
    script(src='https://cdn.jsdelivr.net/npm/autosize@4.0.0/dist/autosize.min.js')
    script(src='https://rawgit.com/julianshapiro/velocity/master/velocity.min.js')
    script(src='jscolor.min.js')
    script(src='index.js')
block body
    .nav
      .nav-right
          if(!curUser)
              form(method="post")
                  input#username(name='username' type='text' placeholder='username')
                  input#password(name='password' type='password' placeholder='password')
                  p#login Login
                  p#register Register
          else
              p#userProf=curUser.username
              p#logout Logout
      .nav-left
          h3#roomNameLabel=("Room: " + room.name)
          p(hidden)#roomName=room.name
          input#roomInput(name='roomname' type='text' placeholder='Room Name')
          a.roomInputBtn Go To Room
    .squareContainer
      .squarePrototype
          p.squareText
          button.color.jscolor(class="{valueElement:null , onFineChange:'colorUpdate(this)'}", style='display : none') Color
          form.squareTextForm
            textarea.squareTextEdit(style='display : none')
            input.squareTextSize(style='display : none' value='14' type='number')
          input.imgEdit(type="text" name="imageSrc" placeholder="Image URL")
          button.imgEditBtn Use Image
          img.squareImg
    
    .hintsContainer
        h1#hintHeader Hints
        p H to Hide Hints
        if(!curUser)
            p Register to Make Squares 
            p WASD Move Camera
            p Q/E Zoom Out/In
        else
            p Space to Create a Square
            p C to Color Squares
            p F to Delete Squares
            p X to Hide Other Squares
            p DoubleClick Squares to Add text
            p I to Add Image to Squares
            p Drag Squares to Move Them
            p R to toggle Resize Arrow
            p WASD Move Camera
            p Q/E Zoom Out/In
