extends layout
block head
    link(rel='stylesheet' , href='index.css')
    script(src='https://cdn.jsdelivr.net/npm/autosize@4.0.0/dist/autosize.min.js')
    script(src='https://rawgit.com/julianshapiro/velocity/master/velocity.min.js')
    script(src='index.js')
    script(src='jscolor.min.js')
block body
    .nav
        if(!curUser)
            form(method="post")
                input#username(name='username' type='text' placeholder='username')
                input#password(name='password' type='password' placeholder='password')
                p#login Login
                p#register Register
        else
            button#newSquareBtn New Square
            p#userProf=curUser.username
            p#logout Logout
        .squarePrototype
            p.squareText
            button.color.jscolor(class="{valueElement:null , onFineChange:'colorUpdate(this)'}", style='display : none') Color
            textarea.squareTextEdit(style='display : none')
    .squareContainer
      //Anon Square Testing
        //- .square.squareAnon#sq1
        //-     p.squareText Edit Me
        //-     textarea.squareTextEdit(style='display : none')
        //-     button.color.jscolor(class="{valueElement:null , onFineChange:'colorUpdate(this)'}", style='display : none') Color
        //- .square.squareAnon#sq2
        //-     p.squareText Edit Me
        //-     textarea.squareTextEdit(style='display : none')
        //-     button.color.jscolor(class="{valueElement:null , onFineChange:'colorUpdate(this)'}", style='display : none') Color
        //- 
        //-     
