extends layout
block head
    link(rel='stylesheet' , href='index.css')
    script(src='index.js')
    script(src='jscolor.min.js')
block body
    .nav
        if(!curUser)
            form(method="post")
                input#username(name='username' type='text' placeholder='username')
                input#password(name='password' type='password' placeholder='password')
                p#login Login
                p#register Register
        else
            button#newSquareBtn New Square
            p#userProf=curUser.username
            p#logout Logout
        .squarePrototype
            p#squareText New Square
    .squareContainer
        .square.squareAnon#sq1
            p#squareText 
            button.color.jscolor(class="{valueElement:null , onFineChange:'colorUpdate(this)'}", style='display : none') Color
        .square.squareAnon#sq2
            p#squareText 
            button.color.jscolor(class="{valueElement:null , onFineChange:'colorUpdate(this)'}", style='display : none') Color

            
